[package]
name = "charlotte"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.98"
http-body-util = "0.1.3"
hyper = { version = "1.6.0", features = ["full"] }
hyper-util = { version = "0.1.14", features = ["full"] }
ratatui = "0.29.0"
rcgen = "0.13.2"
rustls = { version = "0.23.28", features = ["ring", "std"] }
thiserror = "2.0.12"
tokio = { version = "1.45.1", features = ["full"] }

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3
