[package]
name = "charlotte"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
http-body-util = "0.1.3"
hyper = { version = "1.8.1", features = ["full"] }
hyper-util = { version = "0.1.19", features = ["full"] }
ratatui = "0.30.0"
rcgen = "0.14.6"
rustls = { version = "0.23.35", features = ["ring", "std"] }
thiserror = "2.0.17"
tokio = { version = "1.48.0", features = ["full"] }

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3
